<article class="art2_5">
  <h1 class="I_title">Preview</h1>
  <div style="position:relative; top:0px;">
    <div class="revenues">
      <div class="revenue_box">
        <i class="fa-solid fa-battery-full fa-3x"></i>
        <div class="r_text">
          <p style="color:rgba(170, 170, 170, 0.801)">Battery</p>
          <h4 style="color:white;">{{preview_battery}}</h4>
        </div>
      </div>
      <div class="revenue_box">
        <i class="fa-solid fa-gauge-simple-high fa-3x"></i>
        <div class="r_text">
          <p style="color:rgba(170, 170, 170, 0.801)">Speed</p>
          <h4 style="color:white;">{{preview_speed}}</h4>
        </div>
      </div>
      <div class="revenue_box">
        <i class="fa-solid fa-palette fa-3x"></i>
        <div class="r_text">
          <p style="color:rgba(170, 170, 170, 0.801)">Color</p>
          <h4 style="color:white;">{{preview_color}}</h4>
        </div>
      </div>
      <div class="revenue_box">
        <i class="fa-solid fa-clock-rotate-left fa-3x"></i>
        <div class="r_text">
          <p style="color:rgba(170, 170, 170, 0.801)">Current</p>
          <h4 style="color:white;">{{preview_created_at}}</h4>
        </div>
      </div>
    </div>

      <div style="display:flex">
        <!-- single chart -->
        <div class="cha" style="margin-right:7vw;">
          <h6>speed</h6>
          <canvas style="height: 350px;" id="line-chart"></canvas>
        </div>

        <!-- bar chart -->
        <div class="cha">
          <h6 class="mb-4">battery</h6>
          <canvas style="height: 350px;" id="bar-chart"></canvas>
        </div>
      </div>
  </div>
</article>

<!-- 막대 그래프 -->
<script>
(function ($) {
    var ctx4 = $("#bar-chart").get(0).getContext("2d");
    var myChart4 = new Chart(ctx4, {
        type: "bar",
        data: {
            labels: ["1", "2", "3", "4", "5"],
            datasets: [{
                label: "battery",
                backgroundColor: [
                    "rgba(255, 207, 36, .5)",
                    "rgba(255, 207, 36, .6)",
                    "rgba(255, 207, 36, .7)",
                    "rgba(255, 207, 36, .8)",
                    "rgba(255, 207, 36, 1)"
                ],
                data: {{real_battery}},
            }]
        },
        options: {
            responsive: true
        }
    });
})(jQuery);
</script>

<!-- 꺾은선 그래프 -->
<script>
  (function ($) {

      Chart.defaults.color = "#050099";
    Chart.defaults.borderColor = "#EAEAEA";
      var ctx3 = $("#line-chart").get(0).getContext("2d");
    var myChart3 = new Chart(ctx3, {
        type: "line",
        data: {
            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            datasets: [{
                label: "speed",
                fill: false,
                backgroundColor: "rgba(255, 207, 36, .4)",
                data: {{real_speed}},
                borderColor: "rgba(255, 207, 36, 1)",
                borderWidth: 1 //경계선 굵기
            }]
        },
        options: {
            responsive: true
        }
    });

})(jQuery);

</script>