<article class="art2"> 
  <div class="container2">
    <!-- <h1 class="P_title">Introduce Product</h1> -->
    <div class="explain1"> 
      <div class="explain_a">
        <h1 class="a">R1mini를 소개합니다</h1>
        <div class="a_1">
          자율주행 교육/개발용 소형 로봇으로<br><br>
          초급자부터 전문가까지 한 대의 로봇으로 자율주행 연구가 가능합니다.<br><br>
          ROS와 ROS2를 지원하고 정밀 엔코더를 내장한 모터를 탑재하여 흔들림 없는 안정적인 주행이 가능합니다.<br><br>
          360° 라이다 센서와 카메라모듈을 장착할 수 있는 아크릴플레이트를 제공합니다.<br><br>
          RGB LED/헤드라이트를 탑재하고 있어 시리얼 포트를 통해 색상코드를 출력해보세요.<br><br>
          또한 헤드라이트를 켜면 어두운 곳에서도 카메라로 사물을 식별할 수 있습니다.
        </div>
      </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="explain_a_1">
        <div class="a_1_1">
          전용 튜닝 프로그램을 제공하고 있어<br><br>
          모터의 응답 특성에 따라 주행 성능을 다르게 할 수 있고 <br><br>
          로봇을 더 빠르거나 부드럽게 제어할 수 있습니다.<br><br>
          IMU 센서, ESP Wi-Fi 모듈을 장착 후 사용하여 <br><br>
          아두이노에서 쉽게 코딩하고 <br><br>
          브라우저가 탑재된 PC나 스마트폰에서 원격제어가 가능합니다.
        </div>
      </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="explain_b">
        <h1 class="a" style="font-size:6em">R1mini는 이런 분들에게 필요합니다.</h1><br><br><br> 
        <div class="c">딥러닝과 주행로봇을 동시에 공부하거나 연구하시는 분 <br>
          <br>
          DC모터의 구동 방법과 주행로봇의 원리부터, SLAM과 영상처리까지 하나의 로봇으로 연구하고 싶으신분<br>
          <br>
          ROS1과 ROS2 패키지를 동시에 지원하는 로봇을 서로 비교하면서 공부하고 싶으신 분<br>
          <br>
          마커인식,YOLO 구동, 마커 기반 SLAM,라이다,영상 기반 SLAM 등의 다양한 예제를 원하시는 분<br>
          <br>
          정기적인 교육을 통해 개발진과 직접 소통하고 개발 방향에 참여하거나, 학습을 하고 싶으신 분<br>
          <br>
          엄청난 분량의 ROS, 주행로봇 관련 수업 자료를 이용하고 싶으신 분
        </div>
      </div>
      <div class="omobox">
        <h1 style="position:absolute; top: -200px; font-size:4em; color: rgba(223, 187, 94, 0.637);">제품 사양</h1>
        <!-- <div class="omotitle">제품 사이즈</div> -->
        <div class="omo_im"></div>
        <div class="omo_ex1">
          사이즈 : 193x165x67(mm) <br>
          배터리 : 리튬이온 18650(3S1P 3.7V 2600mAh) <br>
          외부 입력 : 버튼 입력 <br>
          전원 입력 : 12V <br>
          센서 : 엔코더, 자세센서(IMU), 전류 측정 센서 <br>
          무게 : 약 1050g(본체 기준, 배터리 포함) <br>
          메인 컨트롤러 : STM32F103 <br>
          외부 출력 : <br>모터, Color RGB LED, 부저, 헤드라이트 LED <br>
        </div>
        <div class="omo_ex2">
          전원 출력 : 5V 3A <br>
          유선 통신 인터페이스 : <br>RS-232(TTL) 1115, 200bps(통신프로토콜 별도 제공) Can bus 500Kbps <br>
          무선 통신 인터페이스 : <br>ESP8266 Wi-Fi 통신모듈(아두이노 IDE) <br>
        </div>
      </div>
    </div>
  </div>
</article>