<!-- article4 시작 -->
<article class="art4">
  <h1 class="A_title">About Us</h1>
  <div style="width : 800px">
    <div class="owl-carousel testimonial-carousel" style="text-align: center;">
      <div class="testimonial-item text-center">
        <h3>Park</h3>
        <p>Leader</p>
        <p class="mb-0">ABC</p>
      </div>
      <div class="testimonial-item text-center">
        <h3>Yoo</h3>
        <p>Leader</p>
        <p class="mb-0">ABC</p>
      </div>
      <div class="testimonial-item text-center">
        <h3>Lee</h3>
        <p>Leader</p>
        <p class="mb-0">ABC</p>
      </div>
      <div class="testimonial-item text-center">
        <h3>Byun</h3>
        <p>Leader</p>
        <p class="mb-0">ABC</p>
      </div>
      <div class="testimonial-item text-center">
        <h3>Sin</h3>
        <p>Leader</p>
        <p class="mb-0">ABC</p>
      </div>
      <div class="testimonial-item text-center">
        <h3>Lee</h3>
        <p>Leader</p>
        <p class="mb-0">ABC</p>
      </div>
    </div>
  </div>
  <div style="margin-left: 80px">
    <span class="text"  style="font-size: 0.8em">
      <span class="header-text">미래융합교육원</span><br><br>
      융합을 통한 미래 핵심 산업분야 청년인재를 양성합니다.<br>
      AI, 빅데이터,IoT 개발자와 IT인력수요에 맞추어 프론트엔드,
      백엔드 개발자 양성 교육을 실시 하고 있으며 <br>
      산업현장 맞춤형 구직자 교육, 재직자 직무향상 훈련,
      사업주 훈련 등 특성화된 분야의 맞춤형 교육을 진행하고 있습니다.
    </span><br><br><br>      
    <div style="display:flex; justify-content:center; align-items:center;">
      <div>
        <iframe class="map" 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3213.5079740653423!2d127.38000071556392!3d36.34847290069574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35654be1d22851ad%3A0xf50f267c3c4519dd!2z66-4656Y7Jy17ZWp6rWQ7Jyh7JuQ!5e0!3m2!1sko!2skr!4v1674626065689!5m2!1sko!2skr" 
        style="border:0; width: 20vw; height: 30vh" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <div>
        <iframe class="vedio1"
        style="border:0; margin: 5px; width:30vw; height: 30vh"
        src="https://videos.files.wordpress.com/IS6FNOdx/ecb7a8ec9785eca780ec9b90eb8f99ec9881ec83813.mp4" 
        frameborder="0">
        </iframe>
      </div>
    </div>
  </div>
</article>