<footer class="footer_all">
  <div class="social_total">
    <div class="social1">
      <a id="bt" role="button"  href = "https://www.facebook.com/"><i class="fa-brands fa-facebook fa-3x" style="color:rgb(66, 66, 250)"></i></a>
      <a id="bt" role="button"  href = "https://www.google.com/"><i class="fa-brands fa-google fa-3x" style="color: gold"></i></a>
      <a id="bt" role="button"  href = "https://www.youtube.com/"><i class="fa-brands fa-youtube fa-3x" style="color:red"></i></a><br>
    </div>   
    <div class="social2">
      <a id="bt" role="button"  href = "https://twitter.com/"><i class="fa-brands fa-twitter fa-3x" style="color:skyblue"></i></a>
      <a id="bt" role="button"  href = "https://www.instagram.com/"><i class="fa-brands fa-instagram fa-3x" style="color:lightcoral"></i></a>
    </div>   
  </div>  
  <div class="lonum">  
      <p>Member : 박태준 이우석 유진성 변성준 신충환 이광규</p>
      <p>Adress : 대전 서구 계룡로491번길 86 미래융합교육원</p>
      <p>Number : 042-471-9222</p>     
      <p>회사소개 | 인재채용  | 제휴제안  | 이용약관  | 개인정보  | 처리방침  | 고객센터 ⓒ SIXMAN MOTOR COMPANY. ALL RIGHTS RESERVED.</p>   
  </div>
  <div id="f_logo2" alt="kingsman"></div>  
  <div id="f_logo1" alt="미래융합교육원"></div>
</footer>