{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
</head>
<body>
<!-- head 부분 -->
<header>
  <div class="headers">
    <a class="rid" href="/" name="home">
      <img src="{% static 'image/real logo.png'%}">
      <span id="logo_text">Six mEn</span>
      <span id="logo_text2">Project</span>
    </a>
  </div>
</header>


<!-- 로그인  -->
<div class="login-h">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">로그인</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <form class="form-signin" action="enterlogin/" method="post">
            {% csrf_token %}
          <div class="group">
              <label for="user" class="label">아이디</label>
              <input id="user" type="text" class="input" name="username" autofocus="" />
            <!-- <input type="text" class="form-control" name="username" placeholder="User Id" autofocus="" /> -->
          </div>
            <div class="group">
            <label for="pass" class="label">비밀번호</label>
            <input id="pass" type="password" class="input" data-type="password"  name="password">
            <!-- <input type="password" class="form-control" name="password" placeholder="Password" /> -->
          </div>
          {% if message %}
          <h5 style="color: white;">{{message}}</h5>
          <!-- <h5 style="color:red">비밀번호를 확인하세요</h5> -->
          <!-- <h5 style="color:red">로그인 정보가 일치하지 않습니다.</h5> -->
          {% endif %}
          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> 로그인 유지</label>
          </div>
          <div class="group" id="login-btn">
            <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button> -->
            <input type="submit" class="button" value="로그인">
          </div>

          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://kit.fontawesome.com/66e5a82cea.js" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>

</html>