/* 본문 1 product */
.P_title{
  position: absolute;
  top: 0px;
  font-size: 2.5em;
  color:rgb(253, 226, 74);
  margin-bottom: 100px;
}
.P_title:after {
  display:block;
  content: '';
  border-bottom: solid 5px rgb(253, 226, 74);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.P_title:hover:after { transform: scaleX(1); }

.art2{
  display: flex;
  justify-content: center;
  position: relative;
  margin:0px;
  width: 99.1vw;
  height:600vh;
  /* background: linear-gradient(180deg, black 0%, rgb(153, 153, 153) 100%); */
  background-color: black;
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(255, 244, 184);
  flex-direction: column;
  margin:0px;
}
.explain1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 50px;
  color:#c5c5c5;
  margin: 40px;
}
/* 설명 a side */
.a{
  color: rgba(223, 187, 94, 0.637);
  font-size: 7rem;
}
.a_1{
  font-size: 2rem;
}
.explain_a{
  height: 50vh;
}
/* 설명 */
.c{
  font-size: 2rem;
  font-weight: bold;
}
.explain1 > * {
  text-align: center;
  font-family: 'NanumSquareNeo-Variable';
 
}
.explain_a_1{
  height: 10vh;
  font-size: 2rem;
  font-weight: bold;
}
.explain_a_2{
  height: 10vh;
  font-size: 2rem;
  font-weight: bold;
}

.omobox{
  display: flex;
  justify-content:space-around;
  align-items: center;
  position: relative;
  top: 500px;
}

/* 타이틀 */
.omotitle{
  position:relative;
  top: 0px;
}

.omo_im{
  background-image: url('../image/omo\ 구성.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 500px;  height: 500px;
  margin-right: 50px;
  border-radius: 3%;
}

.omo_ex1{
  width: 500px;  height: 500px;
  margin-left: 70px;
  line-height: 50px;
  font-size: 1.4rem;
  text-align: left;
}

.omo_ex2{
  width: 600px;  height: 500px;
  margin-left: 30px;
  line-height: 50px;
  font-size: 1.4rem;
  text-align: left;
}

