@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 본문 3영역 table */
.C_title{
  position:absolute;
  top: 0px;
  font-size: 3em;
  margin: 0px;
  color:gold;
  width: 10vw;
}
.C_title:after {
  display:block;
  content: '';
  border-bottom: solid 5px gold;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.C_title:hover:after { transform: scaleX(1); }

/* 본문 영역 */
.art3{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin:0px;
  width: 99.1vw;
  height:100vh;
  /* background: linear-gradient(180deg, rgb(218, 218, 218),  rgb(255, 234, 116) 100%); */
  background-color: black;
}
/* input 입력란 */
#idinput{
  position: relative;
  border: none;
  color:rgb(255, 227, 66);
  background-color: transparent;
  border-bottom: 3px rgb(255, 227, 66) solid;
  height: 40px;
  width: 50vw;
}

#idinput:focus{
  outline: none;
  box-shadow:0 5px 10px rgba(255, 217, 0, 0.74);
}
/* 입력 값 box */
.setting_box{
  color: white;
}